#wrapper {
    width: 960px;
    background-color: aqua;
}
#header {
    height: 130px;
    line-height: 100px;
}
#logo {
    width: 160px;
    height: 135px;
    padding-left: 50px;
}
#menu {
    width: 700px;
    text-align: right;
    padding-right: 50px;
}
#mainFrame {
    background-image: url("../images/baseballfield.png");
    height: 360px;
    margin-bottom: 15px;
}
#picOne {
    width: 320px;
    text-align: left;
}
#picTwo {
    width: 320px;
    text-align: right;
}
#kinds {
    width: 320px;
    text-align: center;
}
#banner {
    margin-top: 20px;
    background-color: black;
    width: 960px;
    opacity: 0.8;
}
#upperFoot {
    height: 160px;
    line-height: 80px;
}
#banner h1 {
    color: antiquewhite;
    position: relative;
    left: 225px;
}
.inLine {
    display: inline;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.centerPage {
    margin-left: auto;
    margin-right: auto;
}
.floatLeft {
    float: left;
}
.clear {
    clear: both;
}