#wrapper {
    width: 960px;
    background-color: aqua;
}
#header {
    height: 175px;
    line-height: 100px;
}
#logo {
    width: 160px;
    height: 135px;
    padding-left: 50px;

}
#menu {
    width: 700px;
    text-align: right;
    padding-right: 50px;
}
.inLine {
    display: inline;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.centerPage {
    margin-left: auto;
    margin-right: auto;
}
.floatLeft {
    float: left;
}
